<div id="content" class="span10">
			<!-- content starts -->      
      <%= render partial: "layouts/notice", locals: { model: nil} %>  
      <div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2>跟进记录</h2>
					</div>
					<div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable">
						  <thead>
							  <tr>
								  <th>客户名称</th>
								  <th>联系方式</th>
                  <th>联系内容</th>
                  <th>是否提醒</th>
                  <th>提醒日期</th>
                  <th>提醒内容</th>
                  <th>是否处理</th>
							  </tr>
						  </thead>   
						  <tbody>
                <%= render partial: "followups_item", collection: @followups, as: :followup %>
						  </tbody>
					  </table> 
            <%= page_entries_info @followups %>
            <%= will_paginate @followups, renderer: SemanticPagination %>            
					</div>
				</div><!--/span-->			
			</div><!--/row-->    
					<!-- content ends -->
			</div><!--/#content.span10-->