<div class="control-group" id="row_history<%= f.options[:child_index] %>">
  <%= f.label :price, "历史报价", :class => "control-label" %>
                  <div class="controls">
                    <%= f.text_field :price %>万
                    &nbsp;&nbsp;日期:
                    <%= f.date_field :price_date %>
                  </div>
							  </div>