<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">信息设置</li>
						<li>
              <%= link_to '车辆品牌', :brands, :class => "ajax-link" %>
            </li>
						<li class="nav-header hidden-tablet">车辆评估</li>
						<li><%= link_to '增加车辆', :new_assessment, :class => "ajax-link", 'data-no-turbolink' => true %></li>
						<li><%= link_to "车辆评估", :assessments, :class => "ajax-link" %></li>
            <li class="nav-header hidden-tablet">系统</li>
            <li><%= link_to "退出", { controller: "index", action: "logout" }, class: "ajax-link" %></li>
					</ul>
					<label id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- left menu ends -->