      <% if flash[:notice] %>  
			<div class="alert alert-info">
				<%= flash[:notice] %>
			</div>
      <% end %>
  
      <% if model && model.errors.any? %>
      <div class="alert alert-info">
        <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </div>
      <% end %>